<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="My_Crypto_Gadgets.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" />
    </startup>
    <userSettings>
        <My_Crypto_Gadgets.My.MySettings>
            <setting name="BTC_Position" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ETH_Position" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="LTC_Position" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DOGE_Position" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="XMR_Position" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BCH_Position" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="XRP_Position" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ADA_Position" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="NANO_Position" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="BTC_Ativate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ETH_Ativate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LTC_Ativate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DOGE_Ativate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XMR_Ativate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BCH_Ativate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XRP_Ativate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ADA_Ativate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NANO_Ativate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Night_And_Day" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Config_Hide" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ADA_Lock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BCH_Lock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BTC_Lock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DOGE_Lock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ETH_Lock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LTC_Lock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NANO_Lock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XMR_Lock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="XRP_Lock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Start_Windows" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Hide_Tray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Sound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Exchange" serializeAs="String">
                <value>Binance</value>
            </setting>
            <setting name="My_IP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="My_IP_Position" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="My_IP_Lock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="My_IP_Activate" serializeAs="String">
                <value>False</value>
            </setting>
        </My_Crypto_Gadgets.My.MySettings>
    </userSettings>
</configuration>